.cart-variant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.variant ul {
    gap: 1rem;
    display: flex;
    align-items: center;
}
.variant ul li {
    cursor: pointer;
    padding: .3rem 1rem;
    border-radius: .3rem;
    background-color: var(--white-1);
    border: 1px solid var(--white-1);
}
.variant .color li {
    padding: 0;
    border: none;
    background: none;
}
.variant .circle {
    padding: 1rem;
    border-radius: 100%;
}


.add-cart {
    border: none;
    outline: none;
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: .3rem;
    background-color: var(--purple);
}
.add-cart:hover {
    background-color: var(--purple-1);
}

.cart .qty {
    border: none;
    outline: none;
    border: 1px solid var(--black);
    width: 3rem;
    height: 3.3rem;
    border-radius: .2rem;
    text-align: center;
}

/*
    Product 
*/
.pagination ul li a {
    color: var(--purple);
    border-radius: .3rem;
    padding: .5rem .8rem;
    background-color: var(--white-1);
}
.pagination ul li a.active {
    color: var(--white);
    background-color: var(--purple);
}
.sidebar ul li {
    padding: .5rem;
}
.sidebar ul li:nth-child(odd) {
    background-color: var(--white-1);
}
.sidebar ul li a {
    width: 100%;
    color: var(--purple);
    display: inline-block;
}
.sidebar .promotion {
    padding: .5rem;
    color: var(--white);
    background-color: var(--purple);
}